<!-- Os comandos utilizados foram:  rails g controller AdminsBackoffice::Admins index -->
<%= stylesheet_link_tag "admins_backoffice_admin", "data-turbo-track": "reload" %>

<h1>Listando Perguntas</h1>

<hr>

<div class="table_adm">
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Descrição</th>
                <th>Assunto</th>
                <th class="add_admin">
                    <%= link_to new_admins_backoffice_question_path, class: "table_button_admin" do %>
                        <%= image_tag 'user-plus', size: "25x25" %>
                    <% end %>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% @questions.each do |question| %>
            <tr>
                <td> <%= question.id %> </td>
                <td> <%= question.description.truncate(50) %> </td>
                <td> <%= question.subject.description.truncate(30) %> </td>
                <td style="width: 20px;">
                    <%= link_to edit_admins_backoffice_question_path(question), class: "table_button_admin" do %>
                        <%= image_tag 'pencil-duotone', size: "25x25" %>
                    <% end %>
                </td>
                <td style="width: 20px;">
                    <%= link_to admins_backoffice_question_path(question), method: :delete, class: "table_button_admin", data: { confirm: "Deseja realmente excluir essa Pergunta?"} do %>
                        <%= image_tag 'trash-duotone', size: "25x25" %>
                    <% end %>
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>