<!-- Os comandos utilizados foram:  rails g controller AdminsBackoffice::Admins index -->
<%= stylesheet_link_tag "admins_backoffice_admin", "data-turbo-track": "reload" %>

<h1>Admins</h1>

<div class="table_adm">
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Email</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% @admins.each do |admin| %>
            <tr>
                <td> <%= admin.id %> </td>
                <td> <%= admin.email %> </td>
                <td style="width: 100px;">
                    <button class="table_button_admin"><%= image_tag 'pencil-duotone', size: "25x25" %></button>
                    <button class="table_button_admin"><%= image_tag 'trash-duotone', size: "25x25" %></button>
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>