<%= stylesheet_link_tag "admins_backoffice_admin", "data-turbo-track": "reload" %>
<h1><%= "#{action_message} Assunto/Área" %></h1>

<hr>

<div class="form_content">
    <%= form_with(model: [ :admins_backoffice, @subject ], local: true) do |form| %>

        <div class="form-group">
            <%= form.label :description %>
            <%= form.text_field :description, class:"form-control", placeholder:"Descrição do Assunto/Área" %>
        </div>
        
        <button type="submit">Salvar</button>
    <% end %>
</div>