<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Time To Answer" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "admins_backoffice", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <!-- Nav da página -->
     
    <nav>
      <!-- Botão do DashBoard Admin -->
      <div class="botoes_container">
        <div class="text_adm">
          <p>PAINEL ADM</p>
        </div>
        <%= link_to 'Dashboard', admins_backoffice_welcome_index_path, class: 'botoes_adm' %>
        <%= link_to 'Administradores', admins_backoffice_admins_path, class: 'botoes_adm' %>
        <%= link_to 'Assuntos/Áreas', '#', class: 'botoes_adm' %>
      </div>
      <!-- Logout -->
      <div class="logout_adm">
        <%= link_to destroy_admin_session_path, method: :delete do %>
        <%= image_tag 'box-arrow-left.svg' %>
        Sair
        <% end %>
      </div>
    </nav>

    <!-- Content que engloba tudo -->

    <div class="content">
      <header>
        <div class="title-header-adm">
          <h1>Backoffice Administrativo</h1>
        </div>
        <div class="camp-adm">
          <%= current_admin.email %>
          <div class="camp-adm-image"><%= image_tag 'person-circle.svg', size: "25x25" %></div>
        </div>
      </header>
      <main>
        <div class="main-central"><%= yield %></div>
      </main>
    </div>

    <script type="module">
      import Swal from 'sweetalert2'

      <% if notice %>
        Swal.fire({
          icon: 'success',
          title: '<%= j notice %>',
          showConfirmButton: false,
          timer: 2000
        })
      <% end %>

      <% if alert %>
        Swal.fire({
          icon: 'error',
          title: '<%= j alert %>',
          showConfirmButton: false,
          timer: 2000
        })
      <% end %>
    </script>
  </body>
</html>
